#root {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  text-align: center;
}

header div {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
}
