#root {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  text-align: center;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

header input {
  height: 30px;
  width: 150px;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}
